.flag
  margin 1rem 0
  .title
    font-weight bold
    padding .1rem 0
  p
    margin-block-start 0
    margin-block-end 0.2em
    padding .5rem 1rem
  ul, ol
    margin-block-start 0
    margin-block-end 0.2em
    padding-left 2.2em
  .extra-class
    margin-left 1rem
    padding-left 0.2rem
