.flex-container
  display flex
  flex-flow row
  justify-content center

.flex-box
  margin 1rem
  padding .5rem
  border-color $accentColor
  border-style dashed
  border-width 1px
  flex-grow 1
  flex-basis 30%