// dark theme -->
$accentColor = #2796fc
$textColor = #D0DBDD
$inlineCodeColor = #D6974A
$codeBgColor = #252832
$borderColor = #161923
$foregroundColor = #2B2D37
$backgroundColor = #161923
// Tip, Warning and Danger
$tipBackgroundColor = #253109
$tipHighlightColor = #8AAD32
$warnBackgroundColor = #594A0F
$warnHighlightColor = #b1941e
$dangerBackgroundColor = #490808
$dangerHighlightColor = #97040b

// bright theme -->
//$accentColor = #2796fc
//$textColor = #424c5f
//$inlineCodeColor = #9a683d
//$codeBgColor = #424c5f
//$borderColor = #D9D1E1
//$foregroundColor = #F6F2F9
//$backgroundColor = #ffffff
// Tip, Warning and Danger
//$tipBackgroundColor = #CDE1A2
//$tipHighlightColor = #78AD00
//$warnBackgroundColor = #D0BA66
//$warnHighlightColor = #C46F00
//$dangerBackgroundColor = #E2BBBB
//$dangerHighlightColor = #97040b
